*.iml
.gradle
/local.properties
/keystore.properties
/keystores
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
api-5922384460639275613-842616-23afd3773cae.json
fastlane/report.xml
fastlane/changelog.txt
google-services.json
